.card {
    overflow: hidden;
    border-radius: 200px;
    min-height: 200px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    background: black;
}

.card.card-has-bg {
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 140%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-footer {
    background: rgba(36, 36, 36, 0.8);

}
.card-img-overlay .card-footer:last-child {
    border-radius: 10px;
}

.card .card-meta {
    color: #5cbdfa;
}

.card:hover {
    cursor: pointer;
}
